@charset "UTF-8";

.bottom_icon {
	font-size: 30;
	margin: 0 15 0 0;
	color: white
}

.icon {
	font-size: 28;
	color: gray
}

.search {
	font-size: 18
}

.footer1 {
	margin: auto;
	border-top: 1px solid #F5F5F5;
	width: 100%;
}

.footer2 td {
	padding: 10 25
}

.highlight {
	font-weight: bold
}

.float {
	position: fixed;
	width: 42px;
	height: 42px;
	bottom: 40px;
	right: 40px;
	color: white;
	background: #DCDCDC;
	border-radius: 50%;
	text-align: center;
	font-size: 40;
	border: 1px solid #D3D3D3
}

.float:hover {
	color: white;
	background: #2ac1bc;
	border-radius: 50%
}

.my-float {
	margin-top: 22px;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #2ac1bc;
	font-weight: bold;
}

.productImg {
	width: 100;
	margin: 10 0
}

.detail {
	border-collapse: collapse;
}

.detail td {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 15
}

.detail th {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	font-weight: normal;
	background: #F5F5F5;
	padding: 15 8
}

.desTable{
	border-collapse: collapse;
}

.desTable td{
	border: 1px solid #EDEDED;
}

.address{
	border-collapse: collapse;	
}

.address th{
	padding: 5;
	background: #F7F7F7;
	border: 1px solid #F0F0F0;
}

.address td{
	padding: 5;
	border: 1px solid #F0F0F0;
}

.enter{
	border-collapse: collapse;	
}

.enter th{
	padding: 5;
	background: rgba(255, 250, 235, 0.5);
	border: 1px solid #FFF5E6;
}

.enter td{
	padding: 5;
	border: 1px solid #FFF5E6;
}

.review{
	border-collapse: collapse;
	width: 500
}

.review td{
	padding: 10 25;
}